APP_NAME=wallet-service-mvp
HTTP_PORT=8080
DB_DSN="host=postgres user=testWallet password=Wallet11# dbname=wallet_service port=5432 sslmode=disable TimeZone=UTC"
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
BALANCE_CACHE_TTL=5m
OUTBOX_POLL_INTERVAL=2s
OUTBOX_BATCH_SIZE=20
IDEMPOTENCY_TTL=24h
SHUTDOWN_TIMEOUT=10s
DEFAULT_PAGE_LIMIT=20
MAX_PAGE_LIMIT=100
